body {
    display: flex;
    justify-content: center;
    background: #181717cb;
    margin-top: 150px;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  padding: 20px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
}
  
  .display {
    width: 200px;
    height: 50px;
    background-color: #333333;
    color: #FFFFFF;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .button-row {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
  }
  
  .button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: 5px;
    border: none;
    border-radius: 25px;
    background-color: #444444;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .number:hover {
    background-color: #666666;
  }
  
  .operator:hover {
    background-color: #F8D847;
    color: #000000;
  }
  
  .equal:hover {
    background-color: #F8D847;
    color: #000000;
  }
  
  .clear {
    background-color: #FF414D;
    color: #FFFFFF;
  }
  
  .clear:hover {
    background-color: #FFA
  }

  